black==25.1.0
blinker==1.9.0
click==8.1.8
deepgram-sdk==3.10.1
dnspython==2.7.0
dotenv==0.9.9
coverage==7.8.0
Flask==3.0.2
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mutagen==1.47.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.7
pluggy==1.5.0
pymongo==4.11.3
pytest==7.4.3
python-dotenv==1.1.0
Werkzeug==3.0.1
