[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
deepgram-sdk = "*"  
python-dotenv = "*"
pytest = "*"
pymongo = "*"
flask = "*"
werkzeug = "*"
coverage = "*"
tomli = "*"

[dev-packages]
pytest = "*"
[requires]
python_version = "3.10"
